html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 253);
}

.container {
  margin: auto;
  display: block;
  width: 68%;
  height: 499px;
  border: 2px black solid;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
}

.headLine {
  display: block;
  margin: auto;
  width: 22%;
  height: 60px;
}

.right {
  float: right;
  clear: both;
  max-width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(3, 168, 3);
  color: azure;
  padding: 10px;
  margin: 2px;
}

.left {
  float: left;
  clear: both;
  max-width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(4, 154, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 2px;
}

.leave{
  background-color: red;
  position: relative;
  left: 30%;
  top: 50px;
}